<% @users.each do |user| %>
	<%= user.email %> - <%= user.name %><br />
<% end %>

We is currently at <%= @users.count %> rings.
<br /><br />
<% @users.count.times do %>
	<%= image_tag "http://upload.wikimedia.org/wikipedia/commons/f/f7/NBA_Trophy2.png", :width => '100' %>
<% end %>


<% case @users.count %>
<% when 0%>
		<div class="hero-unit">
			
				You are on par with <%= image_tag "http://www.abload.de/img/lbj3nnzg.jpg" %>
			
		</div>

<% when 6%>
		<div class="hero-unit">
			
				You are on par with <%= image_tag "http://spreegoogs.com/wp-content/uploads/2011/05/michael-jordan-rings.jpg" %>
			
		</div>
<% when 5%>	
			<div class="hero-unit">
			
				You are on par with <%= image_tag "http://3.bp.blogspot.com/_f2WXrrHEif0/TVCcyPY741I/AAAAAAAAAB0/ROzukrsUf_Q/s1600/kobe-rings.jpg" %>
			
		</div>

		<% when 7%>	
			<div class="hero-unit">
			
				You are on par with <%= image_tag "http://cdn2.sbnation.com/imported_assets/190471/rhory_adb_627_070614.jpg" %>
			
		</div>

<% end %>
